<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <title>Document</title>
</head>
<body> 
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand"><%=data.role%></a>
           <a href="/api/auth/resetpassword/<%=token%>" class="navbar-brand">reset password</a>
           <a href="/api/auth/logout" class="navbar-brand">log out</a>
        </div>
      </nav> 

     <div id="1" class="container bg-secondary animate__animated animate__bounceInLeft d-flex flex-column justify-content-center align-items-xl-center" style="height:500px; border-radius: 10px;">
        <h1>hello <%=data.name%></h1>
        <h3>you are a <%=data.role%></h3>
        <h5>your email is <%=data.email%></h5>

     </div>
</body>
</html>
